
* {
  margin: 20px 20px 0px 0px;
}


.main {
  width: 350px;
  height: auto;
  overflow: hidden;
  background: rgb(80, 242, 196);
  border-radius: 10px;
  box-shadow: 5px 20px 50px #000;
}

.login {
  position: relative;
  width: 100%;
  height: 100%;
}
label {
  color: #fff;
  font-size: 2.5em;
  justify-content: center;
  display: flex;
  margin: 60px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
input {
  width: 60%;
  height: 20px;
  background: #e0dede;
  justify-content: center;
  display: flex;
  margin: 20px auto;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 5px;
  background-color: white;
}
button {
  width: 60%;
  height: 40px;
  margin: 10px auto;
  justify-content: center;
  display: block;
  color: #fff;
  background: #573b8a;
  font-size: 1em;
  font-weight: bold;
  margin-top: 20px;
  outline: none;
  border: none;
  border-radius: 5px;
  transition: 0.2s ease-in;
  cursor: pointer;
}
button:hover {
  background: #6d44b8;
}

.login label {
  color: #573b8a;
  transform: scale(0.6);
}

.social {
  margin: 50px 10px 50px 25px;
  display: flex;
}
.social .go:hover,
.social .fb:hover {
  background-color: rgba(3, 3, 3, 0.973);
  color: white;
}

.social .go,
.social .fb {
  margin: 0px 20px 10px -10px;
  background-color: white;
  color: black;
}
